<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution">
    <application
        android:usesCleartextTraffic="true"
        >
        <activity
            android:name=".ModuleMainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>

    </application>
    <dist:module
        dist:title="@string/title_foxydynamiccode">
        <dist:delivery>
            <dist:on-demand />
        </dist:delivery>
        <dist:fusing dist:include="true" />
    </dist:module>
</manifest>